html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}

.container {
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

section {
	padding: 100px 0;
}

.sec_tit {
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}

.color {
	color: #BE963F;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #BE963F;
}

.btn {
	width: 132px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 14px 0;
	transition: 0.3s;
	border-radius: 20px;
	color: rgb(64, 88, 255);
	background: rgba(64, 140, 255, 0.1);
}

.btn:hover {
	background: rgb(64, 88, 255);
	color: #fff;

}

.link {
	transition: 0.3s;
}

.link:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.dock {
	margin-right: 500px;
	gap: 32px;
}

.logo {
	margin-top: -5px;
}

li {
	color: rgba(18, 23, 34, 0.7);
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0%;
	text-align: left;
}

.head_in {
	margin-top: 20px;
}

.bold {
	color: rgb(18, 23, 34);
	font-weight: 700;
}

.login {
	color: rgba(18, 23, 34, 0.7);
	margin-top: 10px;
	margin-left: 50px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0%;
	text-align: left;
}

.sec_tit {
	color: rgb(18, 23, 34);
	font-size: 50px;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: 0%;
	text-align: left;
	width: 380px;
	margin-bottom: 20px;
}

.sec_txt {
	color: rgba(18, 23, 34, 0.7);
	font-size: 20px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0%;
	text-align: left;
	width: 239px;
	margin-bottom: 20px;
}

.blue {
	transition: 0.3s;
	background: rgb(64, 88, 255);
	color: #fff;
}

.blue:hover {
	background: rgba(64, 140, 255, 0.1);
	color: rgb(64, 88, 255);
	;
}

.card_in {
	padding: 79px 48px 48px 48px;
}

.card {
	width: 628px;
	height: 585px;
	border-radius: 16px;
	background: rgba(255, 244, 245, 0.5);
}
/* .cards{
	gap: 24px;
} */