html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.con_txt {
	color: rgb(18, 23, 34);
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0%;
	text-align: left;
	margin-bottom: 5px;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}

.container {
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

section {
	padding: 95px 0;
}

.sec_tit {
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}

.color {
	color: #BE963F;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #BE963F;
}

.btn {
	width: 132px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 14px 0;
	transition: 0.3s;
	border-radius: 20px;
	color: rgb(64, 88, 255);
	background: rgba(64, 140, 255, 0.1);
}

.btn:hover {
	background: rgb(64, 88, 255);
	color: #fff;

}

.link {
	transition: 0.3s;
}

.link:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.dock {
	margin-right: 500px;
	gap: 32px;
}

.logo {
	width: 114px;
	height: 26px;
	margin-top: -5px;
}

li {
	color: rgba(18, 23, 34, 0.7);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0%;
	text-align: left;
}

.head_in {
	margin-top: 20px;
}

.bold {
	color: rgb(18, 23, 34);
	font-family: Roboto;
	font-weight: 700;
}

.login {
	color: rgba(18, 23, 34, 0.7);
	font-family: Roboto;
	margin-top: 10px;
	margin-left: 50px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0%;
	text-align: left;
}

.sec_tit {
	color: rgb(18, 23, 34);
	font-family: Roboto;
	font-size: 50px;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: 0%;
	text-align: left;
	width: 380px;
	margin-bottom: 20px;
}

.sec_txt {
	color: rgba(18, 23, 34, 0.7);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 27px;
	text-align: left;
	width: 239px;
	margin-bottom: 20px;
}

.blue {
	transition: 0.3s;
	background: rgb(64, 88, 255);
	color: #fff;
	font-family: Roboto;
}

.blue:hover {
	background: rgba(64, 140, 255, 0.1);
	color: rgb(64, 88, 255);
	font-family: Roboto;

}

.card_in {
	padding: 79px 48px 48px 48px;
}

.card_in__right {
	padding-bottom: 144px;
}

.card {
	width: 628px;
	height: 585px;
	border-radius: 16px;
	background: rgba(255, 244, 245, 0.5);
}

.cards {
	gap: 24px;
}

.card_in .sec_tit {
	color: rgb(18, 23, 34);
	font-family: Roboto;
	width: 268px;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
}

.card_in .sec_txt {
	width: 519px;
	color: rgba(18, 23, 34, 0.6);
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0%;
	text-align: left;
}


.card_img {
	width: 532px;
	height: 343px;
	padding: 0 48px 35px 48px;
}



.complex_in {
	border-radius: 16px;
	width: 1280px;
	height: 650px;
	background: rgba(241, 245, 255, 0.5);
}

.complex_img {
	padding: 80px 48px 450px 48px;
	width: 782px;
	display: flex;
}


.complex_right {
	padding-top: 172px;
	width: calc(100% - 782px);
}

.complex .sec_tit {
	width: 100%;
	height: 114px;
	color: rgb(18, 23, 34);
	font-family: Roboto;
	font-size: 34px;
	font-weight: 400;
	line-height: 38px;
	margin-bottom: -20px;

}

.complex .sec_txt {
	color: rgba(18, 23, 34, 0.7);
	font-family: Roboto;
	width: 337px;
	font-size: 20px;
	font-weight: 400;
	line-height: 29px;

}

.work .sec_tit {
	width: 836px;
	font-size: 36px;
	font-weight: 400;
	line-height: 42px;
	letter-spacing: 0%;
	margin-bottom: 17px;
	margin-left: 258px;
}

.work .sec_txt {
	width: 764px;
	color: rgba(18, 23, 34, 0.7);
	font-family: Roboto;
	font-size: 21px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0%;
	text-align: center;
	margin-left: 258px;
}

.work {
	margin-bottom: 64px;
}

.Understand_in {
	width: 1280px;
	height: 682px;
	background-repeat: 16px;
	background: rgb(18, 23, 34);
}

.Understand_left .sec_tit {
	color: rgb(255, 255, 255);
	font-family: Roboto;
	font-size: 34px;
	font-weight: 400;
	line-height: 38px;
	padding: 256px 0 0 48px;

}

.Understand_left .sec_txt {
	width: 325px;
	height: 87px;
	color: rgb(185, 192, 213);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 29px;
	margin-left: 48px;

}

.Understand_img {
	width: 782px;
	height: 522px;
	padding: 80px 23px 80px;
}


.dock_left {
	margin-left: 80px;
}

.dock_left .sec_tit {
	max-width: 326px;
	color: rgb(18, 23, 34);
	font-family: Roboto;
	font-size: 34px;
	font-weight: 400;
	line-height: 38px;
	letter-spacing: 0%;
	text-align: left;
}

.dock_left .sec_txt {
	width: 301px;
	height: 58px;
}

.dock_right {
	gap: 39px;
}

.dock_card {

	width: 347px;
	height: 430px;
	border-radius: 16px;
	box-shadow: 0px 0px 0px 0px rgba(29, 33, 60, 0.27);
	background: rgb(64, 88, 255);
}

.dock_ic {
	background: url(../img/icons/workk4.svg) no-repeat;
	height: 40px;
	margin-bottom: 32px;
}

.dock_icon {
	background: url(../img/icons/workk5.svg) no-repeat;
	height: 40px;
	margin-bottom: 32px;
}

.in {
	padding: 32px 41px 106px 32px;
}

.dock_txt {
	color: rgba(255, 255, 255, 0.9);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: left;
}

.dock_tit {
	max-width: 240px;
	color: rgb(255, 255, 255);
	font-family: Roboto;
	font-size: 32px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0%;
	text-align: left;
	margin-bottom: 13px;
}

.dock_txt {
	max-width: 274px;
	color: rgba(255, 255, 255, 0.9);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: left;
}

.dock_txt {
	max-width: 267px;
	color: rgb(255, 255, 255);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0%;
	text-align: left;
	margin-bottom: 15px;
}

.dock_text {
	color: rgb(255, 255, 255);
}

.footer {
	height: 125px;
}